{% extends "base.html" %}

{% block content %}
    <main>
        <h1>Bank Receipts</h1>
        <table>
            <table>
                <thead>
                    <tr>
                        <th>Name of Bank</th>
                        <th>Number</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account_lists in account_ %}
                        <tr>
                            <td>{{ account_lists.name }}</td>
                            <td>{{ account_lists.number }}</td>
                            <td>{{ account_lists.receipts.all | length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </table>
    </main>
{% endblock content %}
