{% extends "base.html" %}

{% block content %}
    <div>
        <h1>New Expense</h1>
        <form method="post">
            {{ form.as_p }}
            <button type="submit">Create</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock content %}
