{% extends "base.html" %}

{% block content %}
    <main>
        <h1>Expenses</h1>
        <table>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in expense_category %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.receipts.all | length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </table>
    </main>
{% endblock content %}
